body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
}

#app {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.none-select {
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}